:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Fraunces", serif;
  font-weight: 800;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
  color: inherit;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90em;
  margin: 0 auto;
}

picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-color: #3dbeff;
  background-image: url(../images/mobile/image-header.jpg);
  background-position: bottom center;
  background-size: cover;
  padding: 2rem;
  min-height: 33.75rem;
}
@media (min-width: 40em) {
  header {
    background-image: url(../images/desktop/image-header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
header h1 {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header .burger {
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 1rem;
}
@media (min-width: 40em) {
  header .burger {
    display: none;
  }
}
header .burger::before, header .burger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
}
header .burger::before {
  top: 0;
  box-shadow: 0 calc(0.5rem - 1px) 0 hsl(0deg, 0%, 100%);
}
header .burger::after {
  bottom: 0;
}
header .down_arrow {
  margin: 0 auto;
  display: block;
  -webkit-animation-name: up-down;
          animation-name: up-down;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.mobile_menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  width: calc(100% - 4rem);
  left: 50%;
  padding: 2.5rem;
  transform: translateX(-50%);
  top: 6.5625rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .mobile_menu {
    display: none;
  }
}
.mobile_menu.show {
  visibility: visible;
  opacity: 1;
}
.mobile_menu ul {
  list-style: none;
}
.mobile_menu li + li {
  margin-top: 2.5rem;
}
.mobile_menu__link {
  color: hsl(213deg, 9%, 39%);
  display: inline-block;
  font-size: 1.2rem;
}
.mobile_menu__link--contakt {
  padding: 1rem 2rem;
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 2rem;
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}
.mobile_menu::before {
  content: "";
  position: absolute;
  right: 0;
  top: -25px;
  width: 25px;
  height: 25px;
  background-image: linear-gradient(to bottom right, transparent 50%, #fff 50%);
}

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}
@media (max-width: 39.9375em) {
  .menu {
    display: none;
  }
}
.menu a {
  color: white;
}
.menu__link--contact {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: hsla(0deg, 0%, 100%, 0.2);
}

.about_main {
  display: flex;
  flex-direction: column-reverse;
  color: hsl(232deg, 10%, 55%);
}
@media (min-width: 40em) {
  .about_main {
    flex-direction: row;
  }
}
.about_main .img {
  min-height: 20rem;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 40em) {
  .about_main .img {
    flex: 1 0 0;
    min-height: clamp(25rem, 50vw, 37.5rem);
  }
}
.about_main__text {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.about_main__text-inner {
  padding: 2rem;
  max-width: 29rem;
}
@media (min-width: 40em) {
  .about_main__text {
    text-align: left;
    padding: 0;
  }
}
.about_main__text h2 {
  color: hsl(212deg, 27%, 19%);
}
.about_main__text p {
  font-size: 1.11rem;
  font-weight: 500;
  margin-block: 2.5rem;
}
.about_main .link {
  position: relative;
  padding-inline: 0.5rem;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(212deg, 27%, 19%);
}
.about_main .link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.75rem;
  left: 0;
  bottom: 0px;
  border-radius: 0.3rem;
  z-index: -1;
}

.brand__img {
  background-image: url(../images/mobile/image-transform.jpg);
}
@media (min-width: 40em) {
  .brand__img {
    background-image: url(../images/desktop/image-transform.jpg);
  }
}
.brand__link::before {
  background-color: rgba(250, 212, 0, 0.3);
}
.brand__link:hover::before {
  background-color: rgba(250, 212, 0, 0.7);
}

.audience__img {
  background-image: url(../images/mobile/image-stand-out.jpg);
}
@media (min-width: 40em) {
  .audience__img {
    background-image: url(../images/desktop/image-stand-out.jpg);
  }
}
.audience__link::before {
  background-color: rgba(254, 120, 103, 0.3);
}
.audience__link:hover::before {
  background-color: rgba(254, 120, 103, 0.7);
}
@media (min-width: 40em) {
  .audience {
    flex-direction: row-reverse;
  }
}

.about_second {
  color: hsl(167deg, 40%, 24%);
  text-align: center;
  padding: clamp(20rem, 7rem + 70vw, 35rem) 2rem 2rem;
  background-position: top center;
  background-size: cover;
  font-size: 0.95rem;
}
@media (min-width: 40em) {
  .about_second__container {
    display: flex;
  }
}
.about_second h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
.about_second p {
  max-width: 20rem;
  margin: 0 auto;
}
.about_second.graph_design {
  flex: 1 0 0;
  background-image: url(../images/mobile/image-graphic-design.jpg);
}
@media (min-width: 40em) {
  .about_second.graph_design {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
}
.about_second.photography {
  flex: 1 0 0;
  background-image: url(../images/mobile/image-photography.jpg);
}
@media (min-width: 40em) {
  .about_second.photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__image {
  flex: 1 0 auto;
  width: 50%;
  aspect-ratio: 1;
  line-height: 0;
}
@media (min-width: 40em) {
  .gallery__image {
    flex: 1 0 0;
    aspect-ratio: 0.8;
  }
}

.testimonials {
  text-align: center;
  padding: 3.5rem 2.5rem 6.5rem;
}
@media (min-width: 40em) {
  .testimonials {
    padding-inline: 0.5rem;
  }
}
@media (min-width: 64em) {
  .testimonials {
    padding-inline: 1.5rem;
  }
}
.testimonials h2 {
  text-transform: uppercase;
  color: hsl(210deg, 4%, 67%);
  font-size: 1rem;
  letter-spacing: 0.35em;
  margin-bottom: 3rem;
}
@media (min-width: 40em) {
  .testimonials__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
@media (min-width: 64em) {
  .testimonials__container {
    gap: 2rem;
  }
}
@media (min-width: 87.5em) {
  .testimonials__container {
    gap: 4rem;
  }
}

.testimonial {
  margin-top: 4rem;
  max-width: 22rem;
  min-width: 19rem;
  flex: 1 1 0;
}
.testimonial__img {
  width: 6rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.testimonial__text {
  color: hsl(213deg, 9%, 39%);
  margin-bottom: 1.5rem;
}
.testimonial__author {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
}
.testimonial__function {
  font-size: 1rem;
  color: hsl(210deg, 4%, 67%);
}

footer {
  text-align: center;
  background-color: hsl(168deg, 50%, 70%);
  overflow: hidden;
}

.footer__menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 5rem;
  list-style: none;
}
.footer__menu a {
  color: #439d8a;
}
.footer__socials {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#logo_footer {
  margin-block: 4rem 3rem;
  transform: scale(150%);
}
#logo_footer path {
  fill: #3d7b6f;
}/*# sourceMappingURL=style.css.map */