footer {
  text-align: center;
  background-color: hsl(168, 50%, 70%);
  overflow: hidden;
}

.footer {
  &__menu {
    // font-size: pxtorem(14);
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5rem;
    list-style: none;
    a {
      color: lighten($dark-desaturated-cyan, 20%);
    }
  }

  &__socials {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

#logo_footer {
  margin-block: 4rem 3rem;
  transform: scale(150%);
  path {
    fill: darken($dark-moderate-cyan, 5);
  }
}
