.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include breakpoint-up("medium") {
    // height: auto;
  }

  &__image {
    flex: 1 0 auto;
    width: 50%;
    aspect-ratio: 1;
    line-height: 0;

    @include breakpoint-up("medium") {
      flex: 1 0 0;
      // width: 25%;
      // height: min(calc(100px + 20vw), 500px);
      aspect-ratio: 0.8;
    }
  }
}
